

.banner { }

.navbar-header {
  .navbar-brand {
    //margin: 0;
    padding: 20px 0 10px;
    font-size: 35px;
    height: auto;
    &:hover {

    }
  }

  address {
    font-size: 35px;
    padding: 0;
    color: @navbar-default-brand-color;
    margin-left:-7.5px;
  }
}

.navbar-default .navbar-nav > .active {
  border-top:4px solid #d83232;
}

.navbar-default .navbar-nav > .active > a[href$="kalkulyator/"]{
  background-image: url("../img/under_menu3.png");
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

