

.banner { }

.navbar-header {
  .navbar-brand {
    //margin: 0;
    padding: 0;
    font-size: 30px;

    &:hover {

    }
  }

  address {
    font-size: 30px;
    padding: 0;
    color: @navbar-default-brand-color;
  }
}





.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

